@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Manrope", sans-serif;
}

.App {
  background: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 100px;
}

@layer components {
  input[type="range"] {
    
    @apply rounded-lg ;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply w-[35px] h-[35px] rounded-full bg-[#7DE8E0] hover:bg-[#24AEA1] duration-300 transition-all cursor-pointer ;
    
  }

  .toggle-checkbox:checked {
    @apply right-0 border-blue-800;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply bg-cyan-800;
  }
}

.shadowbx{
  box-shadow: 0px 0px 10px  #8E93A9;
} 